div.main_div {
	width:1600px;
}
div.filter {
 	width:400px;
	float:left;
}

div.filterclass {
	border-bottom :1px dashed gray;
	border-right :2px solid gray;
	padding-bottom:25px;
}

input.start_date {
	width:80px; 
	float:left;
}

input.start_time {
	width:50px; 
	float:left;
}

input.end_date {
	width:80px; 
	float:left;
}

input.end_time {
	width:50px; 
	float:left;
}

#show_div {
	width:1100px; 
	float:left;
}

ul li{
list-style-type:none;
}

input{
position:absolute;
left:10px;
}

p {
	font-family:Arial,Verdana,Sans-serif;
	margin-top: 1px;
	padding-top: 1px;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

span {
	font-family:Arial,Verdana,Sans-serif;
	font-size: 80%
}

#apply {
	margin-top: 5px;
}

button.add  {
	float: right;
	margin-right:1px;
}

button.del  {
	margin-left:1px;
	margin-right:2px;
	float: right;
}