$def with (processJson, msgType, avaiableDates, avaiableTimes)
<html>
    <head>  
        <script type="text/javascript" src="/static/jquery-1.11.3.min.js"></script>   
        <script src="/static/mscgen-inpage.js" defer></script>   
        <script type="text/javascript" src="/static/genFilter.js"></script>
        <script type="text/javascript">

             var MSC = ""
            jQuery(document).ready(function() {
                jQuery("#apply").click(function() {
                    var filter = getFilter()
                    jQuery.ajax({
                       type : "POST",
                       data : JSON.stringify(filter),
                       success : function(url) {
                            jQuery("#show_div").empty(); 
                            jQuery("#show_div").load(url)
                       }
                   })
               })
            

                jQuery(".add").click(function(){
                    var new_filter_div =  reserved_filter_div.clone(true)
                    var last_div_nbr = get_last_div_nbr()
                    var new_div_id = 'filter_div_' + (last_div_nbr + 1)
                    new_filter_div.attr('id', new_div_id)

                    var last_div = get_last_div()
                    jQuery(new_filter_div).insertAfter(last_div)

                    jQuery('.del').removeAttr("disabled")
                })


                jQuery(".del").click(function(){
                    var ff = jQuery(this).parent().parent()
                    ff.remove()
                    if (jQuery(".filterclass").length == 1){
                        jQuery(".del").attr('disabled', "disabled")
                    }
                })
                
                // time filter

                var avaiableDates = $:avaiableDates
                addOptions("#start_date", avaiableDates)
                jQuery("#start_date").val(jQuery("#start_date option:first").val());

                addOptions("#end_date", avaiableDates)
                jQuery("#end_date").val(jQuery("#end_date option:last").val());

                var avaiableTimes = $:avaiableTimes
                addOptions("#start_time", avaiableTimes)
                jQuery("#start_time").val(jQuery("#start_time option:first").val());

                addOptions("#end_time", avaiableTimes)
                jQuery("#end_time").val(jQuery("#end_time option:last").val());
                
                function get_last_div() {
                    return jQuery('.filterclass')[jQuery('.filterclass').length - 1]
                }
    
                function get_last_div_nbr() {
                    var last_div = get_last_div()
                    var last_div_nbr = parseInt(/filter_div_(\d+)/.exec(last_div.id)[1], 10);
                    return last_div_nbr
                }

                msgTypeJson =  $:msgType 
                var processJson =  $:processJson 

                parseNodeInfo(processJson)
                addNodeOptions("filter_div_0")
    
                var reserved_filter_div =  jQuery('#filter_div_0').clone(true) // TODO
            });  
        </script>   
        <link type="text/css" href="static/show.css" rel="stylesheet"></script>     
    </head>
    <body>
        <div class="main_div">
            <div class="time_filter">
                <p>Time filter</p>
                <select id="start_date"></select>
                <select id="start_time"></select>
            to
                <select id="end_date"></select>
                <select id="end_time"></select>
            </div>
            <br/>
            <div class="filter">
                <div class="filterclass" id="filter_div_0">
                    <p>From/To</p>
                    <select class="srcNode" onchange="addProcessOptions(this.value, this)">
                    </select>
                    <select class="srcProcess" onchange="addInstanceOptions(this.value, this)">
                    </select>
                    <select class="srcInstance">
                    </select>
                    <p>To/From</p>
                    <select class="dstNode" onchange="addProcessOptions(this.value, this)">
                    </select>
                    <select class="dstProcess" onchange="addInstanceOptions(this.value, this)">
                     </select>
                    <select class="dstInstance">
                    </select>
                    <div class="msgType_div">
                        <ul class="listID"></ul>
                    </div>
<!--                     <div><input type="text" class="time" id="start_time1" data-scroll-default="6:00am" /></div>
                    <br /> -->
                    <div class="button_div">
                        <button type="button" class="del" disabled="disabled">Del</button>
                        <button type="button" class="add">Add</button>
                    </div>
                </div>
                <button type="button" id="apply">Apply Filter</button>
            </div>
            <div id="show_div">
            </div>
        </div>
    </body>
</html>