$def with (processJson, msgType)
<html>
	<head>
		<script src="static/mscgen-inpage.js" defer></script>     
		<script type="text/javascript" src="/static/jquery-1.11.3.min.js"></script>   
 		<script type="text/javascript" src="static/genFilter.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery("#apply").click(function() {
                    getFilter()
                    jQuery.ajax({
            	       type : "POST",
            	       data : "yes",
            	       success : function(data) {
                	       alert(data)
            	       }
        	       })
               })
    		

                jQuery(".add").click(function(){
                    var new_filter_div =  reserved_filter_div.clone(true)
                    var last_div_nbr = get_last_div_nbr()
                    var new_div_id = 'filter_div_' + (last_div_nbr + 1)
                    new_filter_div.attr('id', new_div_id)
                    jQuery('.filter').append(new_filter_div)
                    jQuery('.del').removeAttr("disabled")
                })


                jQuery(".del").click(function(){
                    var ff = jQuery(this).parent().parent()
                    ff.remove()
                    if (jQuery(".filterclass").length == 1){
                        jQuery(".del").attr('disabled', "disabled")
                    }
                })
    
                function get_last_div_nbr() {
                    var last_div = jQuery('.filterclass')[jQuery('.filterclass').length - 1]
                    var last_div_nbr = parseInt(/filter_div_(\d+)/.exec(last_div.id)[1], 10);
                    return last_div_nbr
                }

                msgTypeJson =  $:msgType 
                var processJson =  $:processJson 

                parseNodeInfo(processJson)
                addNodeOptions("filter_div_0")
    
                var reserved_filter_div =  jQuery('#filter_div_0').clone(true) // TODO
            });  
        </script>   
        <link type="text/css" href="static/show.css" rel="stylesheet"></script>     
    </head>
    <body>
        <div class="main_div">
            <div class="filter">
                <div class="filterclass" id="filter_div_0">
                    <p>From/To</p>
                    <select class="srcNode" onchange="addProcessOptions(this.value, this)">
                    </select>
                    <select class="srcProcess" onchange="addInstanceOptions(this.value, this)">
                    </select>
                    <select class="srcInstance" >
                    </select>
                    <p>To/From</p>
                    <select class="dstNode" onchange="addProcessOptions(this.value, this)">
                    </select>
                    <select class="dstProcess" onchange="addInstanceOptions(this.value, this)">
                     </select>
                    <select class="dstInstance">
                    </select>
                    <div class="msgType_div">
                        <ul class="listID"></ul>
                    </div>
                    <div class="button_div">
                        <button type="button" class="del" disabled="disabled">Del</button>
                        <button type="button" class="add">Add</button>
                    </div>
                </div>
                <button type="button" id="apply">Apply Filter</button>
            </div>
  		    <div class="show_div">
    	   </div>
        </div>
    </body>
</html>